<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <h4>Welcome, <%= current_user.name %>.</h4>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-4">
      <h3>Recent Reviews</h3>
      <table class="table-striped">
        <tbody>
          <% @recent_reviews.each do |review| %>
            <tr>
              <td><%= link_to review.game_title, review %> by <%= link_to review.user_name, user_reviews_path(review.user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
          <h3>Released This Month</h3>
          <table class="table-striped">
            <tbody>
              <% @reled_games.each do |game| %>
                <tr>
                  <td><%= link_to "#{game.release_date} #{game.title}", game %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>Next Release</h3>
          <table class="table-striped">
            <tbody>
              <% @next_games.each do |game| %>
                <tr>
                  <td><%= link_to "#{game.release_date} #{game.title}", game %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

