<% if @reviews.size != 0 %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Story</th>
      <th>Cg</th>
      <th>Voice</th>
      <th>System</th>
      <th>Hscene</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.user.name, "/user?id=#{review.user_id}" %></td>
        <td><%= review.story %></td>
        <td><%= review.cg %></td>
        <td><%= review.voice %></td>
        <td><%= review.system %></td>
        <td><%= review.hscene %></td>
        <td><%= review.total %></td>
        <td><%= link_to 'Show', review %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><% else %>
게임 리뷰를 해보세요!
<% end %>