<p>
  <% if current_user.reviewed? @game %>
  <% else %>
    <% if current_user.in_stack? @game %>
      <%= link_to 'Remove game from stack', with_game_stacks_path(game_id: @game.id), method: :delete %>
    <% else  %>
      <%= link_to 'Add game to stack', stacks_path(game_id: @game.id), method: :post %>
    <% end %>
    <%= link_to 'Go to write review', new_review_path(game_id: @game.id) %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Brand:</strong>
  <%= link_to @game.brand_name, @game.brand %>
  <%= link_to '(이 회사의 작품들)', games_path(brand_id: @game.brand_id) %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<% if @game.price %>
<p>
  <strong>Price:</strong>
  <%= number_with_delimiter(@game.price) %>엔
</p>
<% end %>

<% if @game.genre %>
<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>
<% end %>

<% unless @game.subgenres.empty? %>
<p>
  <strong>Subgenre:</strong>
  <% @game.subgenres.each do |sg| %>
  <%= link_to sg.name, sg %> &nbsp;
  <% end %>
</p>
<% end %>

<% unless @game.categories.empty? %>
<p>
  <strong>Category:</strong>
  <% @game.categories.each do |ct| %>
  <%= link_to ct.name, ct %> &nbsp;
  <% end %>
</p>
<% end %>

<% unless @game.gennga(@roles).empty? %>
<p>
  <strong>Gennga:</strong>
  <% @game.gennga(@roles).each do |cr| %>
  <%= link_to cr.name, cr %> &nbsp;
  <% end %>
</p>
<% end %>

<% unless @game.sdgennga(@roles).empty? %>
<p>
  <strong>SDGennga:</strong>
  <% @game.sdgennga(@roles).each do |cr| %>
  <%= link_to cr.name, cr %> &nbsp;
  <% end %>
</p>
<% end %>

<% unless @game.writer(@roles).empty? %>
<p>
  <strong>Writer:</strong>
  <% @game.writer(@roles).each do |cr| %>
  <%= link_to cr.name, cr %> &nbsp;
  <% end %>
</p>
<% end %>

<% if @game.story %>
<p>
  <strong>Story:</strong>
  <%= @game.story.gsub("\r\n",'<br>').html_safe %>
</p>
<% end %>

<% unless @game.characters.empty? %>
<p>
  <strong>Charaters:</strong><br>
  <% @game.characters.each do |ch| %>
  <%= character_info(ch).html_safe %><br>
  <% end %>
</p>
<% end %>

<% if @game.getchu_id %>
<p>
  <%= link_to 'Go to Getchu', "http://www.getchu.com/soft.phtml?id=#{@game.getchu_id}" %>
</p>
<% end %>

<%= link_to 'Back', games_path %>
