<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @creator.name %>
</p>

<% unless @creator.games.empty? %>
<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th>Release date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creator.games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= link_to game.brand_name, game.brand %></td>
        <td><%= game.release_date %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Back', creators_path %>
