<p id="notice"><%= notice %></p>

<h1>Listing Rel Game Subgenres</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Subgenre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rel_game_subgenres.each do |rel_game_subgenre| %>
      <tr>
        <td><%= rel_game_subgenre.game_id %></td>
        <td><%= rel_game_subgenre.subgenre_id %></td>
        <td><%= link_to 'Show', rel_game_subgenre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @rel_game_subgenres %>