<%= @user.name %> 님의 통계 정보</br>
리뷰한 게임의 갯수: <%= @review_count %></br>
</br>
평점 분포도</br>
<div id="total-chart">
  <svg></svg>
</div>

<%= stylesheet_link_tag    "nv.d3.min", :media => "all" %>
<%= javascript_include_tag "d3.v3" %>
<%= javascript_include_tag "nv.d3.min" %>

<script>

window.total_data = [
  {
    key: "Cumulative Return",
    values: [
      { 
        "label" : "0~05" ,
        "value" : <%= @data_for_total_score[0] %>
      } , 
      { 
        "label" : "5~10" , 
        "value" : <%= @data_for_total_score[1] %>
      } , 
      { 
        "label" : "10~15" , 
        "value" : <%= @data_for_total_score[2] %>
      } , 
      { 
        "label" : "15~20" , 
        "value" : <%= @data_for_total_score[3] %>
      } , 
      { 
        "label" : "20~25" ,
        "value" : <%= @data_for_total_score[4] %>
      }, 
      { 
        "label" : "25~30" , 
        "value" : <%= @data_for_total_score[5] %>
      } , 
      { 
        "label" : "30~35" , 
        "value" : <%= @data_for_total_score[6] %>
      } , 
      { 
        "label" : "35~40" , 
        "value" : <%= @data_for_total_score[7] %>
      } , 
      { 
        "label" : "40~45" ,
        "value" : <%= @data_for_total_score[8] %>
      }, 
      { 
        "label" : "45~50" , 
        "value" : <%= @data_for_total_score[9] %>
      } , 
      { 
        "label" : "50~55" , 
        "value" : <%= @data_for_total_score[10] %>
      } , 
      { 
        "label" : "55~60" , 
        "value" : <%= @data_for_total_score[11] %>
      } , 
      { 
        "label" : "60~65" ,
        "value" : <%= @data_for_total_score[12] %>
      }, 
      { 
        "label" : "65~70" , 
        "value" : <%= @data_for_total_score[13] %>
      } , 
      { 
        "label" : "70~75" , 
        "value" : <%= @data_for_total_score[14] %>
      } , 
      { 
        "label" : "75~80" , 
        "value" : <%= @data_for_total_score[15] %>
      } , 
      { 
        "label" : "80~85" ,
        "value" : <%= @data_for_total_score[16] %>
      }, 
      { 
        "label" : "85~90" , 
        "value" : <%= @data_for_total_score[17] %>
      } , 
      { 
        "label" : "90~95" , 
        "value" : <%= @data_for_total_score[18] %>
      } , 
      { 
        "label" : "95~100" , 
        "value" : <%= @data_for_total_score[19] %>
      }
    ]
  }
]

$(document).ready(function() {
  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .staggerLabels(true)
      .tooltips(false)
      .showValues(false)

    chart.yAxis
        .tickFormat(d3.format(',f'));

    d3.select('#total-chart svg')
      .datum(total_data)
      .transition().duration(500)
      .call(chart)
      ;

    nv.utils.windowResize(chart.update);

    return chart;
  });
})

<%= @data_for_total_score.to_json %>
</script>