<p id="notice"><%= notice %></p>

<h1>Listing Appearances</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Game</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appearances.each do |appearance| %>
      <tr>
        <td><%= appearance.creator_id %></td>
        <td><%= appearance.game_id %></td>
        <td><%= appearance.role_id %></td>
        <td><%= link_to 'Show', appearance %></td>
        <td><%= link_to 'Edit', edit_appearance_path(appearance) %></td>
        <td><%= link_to 'Destroy', appearance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appearance', new_appearance_path %>
