<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Homepage url:</strong>
  <%= link_to @brand.homepage_url, @brand.homepage_url, target: :_blank %>
</p>

<p>
  <strong>Getchu:</strong>
  <%= @brand.getchu_id %>
</p>

<% unless @brand.games.empty? %>
<h1>Games</h1>
<%= render partial: 'shared/game', locals: {games: @brand.games} %>
<% end %>
<br>

<%= link_to 'Back', brands_path %>
