<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %>(1-10)<br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'summernote' %>
  </div>
  <div class="actions">
    <%= f.hidden_field :game_id %>
    <%= f.hidden_field :reviewed %>
    <%= f.submit %>
  </div>
<% end %>
