<p>
  <strong>Game:</strong>
  <%= link_to @review.game_title, @review.game %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @review.user_name, user_reviews_path(@review.user) %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw(@review.content) %>
</p>

<%= link_to 'Edit |', edit_review_path(@review) if @review.editable? current_user %>
<%= link_to 'Back', reviews_path %>
